body, html{
	font-family: 
		MHei,'PingFang TC','Helvetica Neue', Helvetica, STHeitiTC-Light, Arial, sans-serif;
	width: 100%;
	background: #ffffff;
	color: #1C2A55;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
	margin: 0;
}
a{
	text-decoration: none;
}